h2{
    color: rgb(252, 1, 126);
}
body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/687/928/61/neon-4k-8k-hd-wallpaper-preview.jpg");
}
section{
    color: aliceblue;
}
header { text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: aliceblue; }
nav.nav1{text-align: left}
p.p111{border-color: aliceblue;}
h2.textomedio{ text-align: left; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: medium; color: chartreuse;}

div.textomedio2{
    color: rgb(252, 1, 126);
}
h1{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

a.links:link{color: #CC0000;}
a.links:hover{color: #fff; background-color: #CC0000;}
a.links:visited{color: #CCC;}  