.td{
    align-content: center;
    color: #FFFFCC;
}
.table {
    border-color: #333; 
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera{
    background-image: url(./IMG/fondo_gris.gif);
}
.cambio{
    background-color: #d0e7fc;
}
.container-fluid{
    background-color: rgb(248, 244, 17);
}
.header-main{
    background-color: rgb(248, 244, 17);
}
.navbar-brand{
    font-size: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
